[submodule "mpv"]
	path = mpv
	url = https://github.com/mpv-player/mpv.git
[submodule "libass"]
	path = libass
	url = https://github.com/libass/libass.git
[submodule "freetype"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "fribidi"]
	path = fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "ffnvcodec"]
	path = ffnvcodec
	url = https://github.com/FFmpeg/nv-codec-headers.git
[submodule "shaderc"]
	path = shaderc
	url = https://github.com/google/shaderc.git
[submodule "shaderc.good"]
	path = shaderc.good
	url = https://github.com/google/shaderc.git
